body, html {
  height: 90%;
  font-family: "arcade";
}

body::after {
  /*background-image: url("../resource/fts-green.png");*/
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  text-align: left;
}

p {
  display: block;
}

button {
  margin: 0 20px 0 0;
  padding: 10px 40px 10px 40px !important;
}

.reserved {
  background-image: url("../resource/fts-red.png");
}

.available {
  background-image: url("../resource/fts-green.png");
}

.header {
	/*display: inline-block;*/
	margin: auto;
	text-align: center;
	width: 60%;
}

/*.reserved {
  background-color: #E799A3; 
   
  flamingo pink #F9A7B0 
  light coral #E77471
  scarlet #FF2400
  
}*/

h2 {
	vertical-align: center;
}

.top6 {
	margin: auto;
	padding: 0 20px 0 20px;
	height: 90%;
	/* width: 70%; */
}

table {
  font-size: 3vw;
  width: 60%;
  text-align: left;
  /*opacity: 0.1;*/
  /*background-color: green;*/
  background-color:rgba(255,255,255,0.5);
}

table>thead>tr>td, table>thead>tr>th, table>tbody>tr>th, table>tbody>tr>td {
	border-top: 0 !important;
	border-bottom: 0 !important;
}

table>tbody.buttons {
 vertical-align: bottom;
 text-align: center;
}

table>tbody>tr>td {
  vertical-align: bottom;
}

/*.table>tbody>tr.rowChallenger>td {
	padding: 2px !important;
    width: 100%;
}

.tableChallengers {
  padding: 0 130px;
}*/
